.about-container,
.info-list {
  grid-template-columns: repeat(2, 1fr);
}

.info-list {
  row-gap: 20px;
  margin-bottom: 32px;
}

.section-subtitle {
  font-size: var(--h3-font-size);
  font-weight: var(--weight-600);
  margin-bottom: 20px;
}

.info-list .info-title,
.info-list .info-description {
  font-size: var(--small-font-size);
}

.info-list .info-description {
  color: var(--title-color);
  font-weight: var(--weight-600);
}

.seperator {
  border-top: 2.5px solid var(--border-color);
  max-width: 40%;
  margin: 72px auto 56px;
}

.subtitle-center {
  text-align: center;
  margin-bottom: 50px;
}
.skills-container {
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  row-gap: 48px;
}

.progress-circle {
  width: 120px;
  height: 120px;
}

.CircularProgressbar-path {
  stroke: var(--first-color) !important;
  stroke-linecap: butt !important;
}

.CircularProgressbar-trail {
  stroke: var(--container-color) !important;
}

.CircularProgressbar-text {
  fill: var(--title-color) !important;
  font-family: var(--second-font);
  font-size: var(--large-font-size) !important;
}

.skills-title {
  font-family: var(--body-font);
  font-size: var(--normal-font);
  font-weight: var(--weight-400);
  text-align: center;
  margin-top: 24px;
}
