.card {
  height: 280px;
  width: 450px;
  object-fit: cover;
  margin: 40px;
  border-radius: 25px;
  background-color: gray;
}

.image img {
  height: 200px;
  width: 100%;
  border-radius: 25px;
}

.text {
  width: 100%;

  text-transform: capitalize;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: gray;
  color: white;
  padding: 2px 5px;
  border-radius: 25px;
}

.textarea {
  display: flex;
  justify-content: space-evenly;
}
.textarea p {
  padding: auto 0px;
}
.text button {
  /* background-color: #0b5ed7; */
  background-color: black;
  color: white;
  margin-bottom: 2px;
  margin-right: 2px;
  float: right;
}
.text button a {
  text-decoration: none;
  color: white;
}
